body {
    margin: 0;
    padding: 0;
    background: rgba(246, 246, 246, 1);
    
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    /*выключла адаптацию игрового поля, иначе все слипается*/
}


header {
    position: fixed;
    width: -webkit-fill-available;
    height: 64px;
    left: 0;
    top: 0;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px rgba(44, 57, 121, 0.1);
    border-radius: 0px 0px 16px 16px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 40px;
    gap: 10px;
}

button {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#nav-panel {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0;
    gap: 16px;
    height: 32px;
    flex: none;
    flex-grow: 0;
}

#nav-panel div {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    flex: none;
    flex-grow: 0;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.24px;
    color: #373745;
}

#nav-panel .active {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 4px 12px;
    gap: 10px;
    background: #60C2AA;
    border-radius: 200px;
    color: white;
    flex: none;
    order: 0;
    flex-grow: 0;
}


.table-container {
    display: flex;
    flex-direction: column;
    padding: 32px;
    gap: 24px;
    position: absolute;
    top: 144px;
    bottom: 80px;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(44, 57, 121, 0.09);
    border-radius: 40px;
    margin-top:100px;
    margin-left: 447px;
    width: 1026px;
}


.table-screen {
    margin-left: 324px;
    width: 1064px;
    display: flex;
}

.result-header {
    width: 189px;
    height: 36px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 150%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #373745;
}

  .main-table {
    width: 1026px;
    flex: 1;
    display: grid;
    border-collapse: collapse;
    -webkit-overflow-scrolling: touch;
    overflow-x: scroll;
    grid-template-columns: 
    minmax(87px, 424px)   
    minmax(71px, 116px)    
    minmax(66px, 127px)    
    minmax(109px, 161px)
    minmax(146px, 163px)
  }
  
::-webkit-scrollbar {
display: none;
}

  .main-table-head,
  .main-table-body,
  .main-table-tr {
    display: contents;
  }
  
  .table-header,
  .table-rows{
    padding: 12px;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .table-header {
    width: 36px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.24px;
    color: #373745; 
  }
  
  .table-header:last-child {
    border: 0;
  }
  

  
  .resize-handle:hover,

  .header--being-resized .resize-handle {
    opacity: 0.5;
  }
  
  .table-header:hover .resize-handle {
    opacity: 0.3;
  }
  
  .table-rows {
    width: 424px;
    height: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    letter-spacing: 0.24px;
    color: #373745;
  }

  .win {
    color: #69B849; 
  }

  .lose {
    color: #E93E3E;
  }
